---
import ThreeJsModel from '@/react/components/ThreeJsModel';
import background from '../assets/background.svg';
import Hero from './header/Hero.astro';
import Navbar from './navbar/Navbar.astro';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<header>
			<Navbar/>
			<Hero/>
		</header>
	</main>

<style>

#background {
	position: fixed;
	filter: blur(100px);
	z-index: -1;
}

@media (max-width: 768px) {
	header{
		justify-content: center;
		align-items: center;
	}

	.container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

</style>
